/* テーブル */
table {
	border: 2px solid silver;
	border-collapse: collapse;
}

th, td {
	border: 1px solid silver;
	padding: 4px 8px;
	text-align: center;
}

ol {
	padding-left: 20px;
}

/* メッセージ装飾 */
.message_ok {
	color: green;
}

.message_ng {
	color: red;
}
