/* テーブル */
table {
	border: 2px solid silver;
	border-collapse: collapse;
}

table p {
	margin: 0;
}

th, td {
	border: 1px solid silver;
	padding: 4px 8px;
	text-align: center;
}

ol {
	padding-left: 20px;
}

/* 整列 */
.flex_column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.flex_row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
}

/* メッセージ装飾 */
.message_ok {
	color: green;
}

.message_ng {
	color: red;
}

/* ユーティリティクラス */
.hidden {
	display: none;
}
